{% extends "base.html" %}

{% block title %}Sobre mí{% endblock %}

{% block content %}
<section id="sobre-mi" class="text-center mt-10">
    <h1 class="text-4xl font-bold text-blue-500">Sobre mí</h1>
    <p class="text-xl text-gray-400 mt-4">
        Soy un desarrollador con experiencia en .NET y SQL Server, actualmente enfocándome en Inteligencia Artificial y Python. 
        He trabajado en infraestructura IT y estoy en constante aprendizaje para mejorar mis habilidades en el desarrollo de soluciones innovadoras.
    </p>
    <h2 class="text-3xl font-bold text-blue-500 mt-10">Educación</h2>
    <p class="text-lg text-gray-400 mt-4">
        <strong>Ingeniería en Sistemas</strong> - UAI - Universidad Abierta Interamericana (2021 - 2025)
    </p>
    <p class="text-lg text-gray-400 mt-2">
        Cursos adicionales en IA, Python, y herramientas de análisis de datos.
    </p>
    <h2 class="text-3xl font-bold text-blue-500 mt-10">Experiencia</h2>
    <p class="text-lg text-gray-400 mt-4">
        <strong>Infraestructura IT</strong> en Avalian (2021 - 2023)
    </p>
    <p class="text-lg text-gray-400 mt-2">
        Trabajé con tecnologías de Cisco, Fortinet y desarrollé habilidades avanzadas en .NET y SQL Server.
    </p>
</section>
{% endblock %}
